/* Shared Styles */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}
/* Header Styles Started */
.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;

    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    
    font-size: 20px;
    font-weight: 600;
    
    text-align: center;
    margin: 15px 0px;
    border: none;
}

/* Header Styles */
header {
    background-color: #FF900E1A;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;

    font-size: 64px;
    font-weight: 700;

}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;


}
.banner img{
    width: 100%;
}
/* Header Styles Finished */
/* Main Styles Started */

.teams-container{
    max-width: 1440px;
    margin: 20px 100px 20px 150px;
    display: flex;
    align-items: center;
    
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.teams-content{
    padding-left: 50px;
    
}
.teams-title{
    font-size: 45px;
}
.quick-list{
    font-weight: 500;
    color: #727272;
}
.of-our{
    font-weight: 700;
    color: #131313;
    
}
.text-features{
    font-weight: 700;
    color: #FF900E;
}
.teams-description{
    font-weight: 400;
    color: #727272;
}
.facts{
    margin: 70px 100px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    
}
.facts-card-container .card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 30px 40px;

}
.card .card-stats{
    color: #424242;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}
.maximum-width{
    text-align: center;
}
.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin:50px ;
    
}
/* Main Styles Finished */
/* Footer Started */
.ending{
    background-color: #FFF4E7;
    margin: 100px 100px;
    padding: 39px 240px;
    font-size: 20px;
    color: #424242;
}















/* Responsive */
@media screen and (max-width: 576px) {
    /* Header Styles Started */
    header {
        
        padding: 0px;
    }
    nav {
        flex-direction: column;
    }
    .teams-container, .facts-card-container{
        flex-direction: column;
        margin: 10px 5px;
    }
    .teams-img-container{
        
        grid-template-columns: 1fr;
        
    }
    .facts-card-container .card{
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    .sponsors-img-container{
        flex-direction: column;
        
        align-items: center;
        gap: 50px;
       
    }
    .sponsors-img-container img{
      width: 200px;
      
     
    }
    .ending{
        
        margin: 50px 10px;
        padding: 10px 50px;
        font-size: 12px;
        color: #424242;
    }
    
    /* Header Styles Finished */
    /* Main Styles Started */

    
}












@media screen and (min-width: 576px) and (max-width: 992px) {
    /* Header Styles Started */
    header{
        padding: 0px;
    }
    nav{
        flex-direction: column;
    }
    /* Header Styles Finished */
    /* Main Styles Started */
    .teams-container{
        flex-direction: column;
        margin: 10px 10px;
        
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px
    }
    .sponsors-img-container{
        flex-direction: column;
        
        align-items: center;
        gap: 50px;
       
    }
    .sponsors-img-container img{
      width: 200px;
      
     
    }
    .ending{
        
        margin: 50px 10px;
        padding: 10px 50px;
        font-size: 15px;
        color: #424242;
        text-align: center;
    }
    
}